@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --register-study-bg: 235 21% 11%;
  --register-battle-bg: 280 25% 14%;
}

body {
  background-color: #09090b;
  color: #fafafa;
  font-family: "Geist", "Satoshi", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.register-study {
  background-color: hsl(var(--register-study-bg));
}

.register-battle {
  background-color: hsl(var(--register-battle-bg));
}
